                                            h1 {
                                            font-style: italic;
                                        }
                                        
                                        body #fundo {
                                            background-color: green;
                                        }
                                        
                                        .paragrafo {
                                            color: red;
                                        }
                                        
                                        .paragrafo {
                                            color: blue